*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(98, 201, 166);
    height: 100vh;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

